@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Ticket", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Name
        </th>
        <th>
           Assign to
        </th>
        <th>
           Project Name
        </th>
        <th>
           TicketPriorities
        </th>
        <th>
            TicketStatus 
        </th>
        <th>
            TicketType
        </th>
        <th>
            Ticket Title
        </th>
        <th>
          Ticket Created
        </th>
        <th>
            Ticket Update
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriorities.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update)
        </td>
        <td>
            @if (User.IsInRole("Admin") | User.IsInRole("PM"))
            {
            @Html.ActionLink("Assign", "AssignTicket", new { id = item.Id })
            }
                   
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | 
                                                                 
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
