@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") | User.IsInRole("PM"))
{
    <p>

        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Created On
        </th>
        <th>
            Assigned To
        </th>
       
        
       
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(Time=>item.Created)
        </td>
        <td>
            @foreach (var u in item.User)
            {


                @Html.DisplayFor(user => u.FullName)
                <br />

            }
        </td>

       
        <td>
            @if (User.IsInRole("Admin"))
            {
            @Html.ActionLink("Change Project Name ", "Edit", new { id = item.Id }, new {@class="btn btn-default btn-sm"})
                @Html.ActionLink("Delete ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" });
            }
            @*@Html.ActionLink("Details ", "Details", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })*@
            @if (User.IsInRole("Admin") | User.IsInRole("PM")) {
            @Html.ActionLink("Assign Project ", "AssignUsers", "Projects", new { id = item.Id }, new { @class="btn btn-info btn-sm"})
            }
        </td>
    </tr>
}

</table>
